<a href="https://colab.research.google.com/github/Yatheswar546/Agro_Cart/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np 
import pandas as pd

In [11]:
dataset=pd.read_csv('/content/Carseats.csv')
dataset.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [12]:
dataset=dataset.drop(['US'],axis=1)
dataset

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban
0,9.50,138,73,11,276,120,Bad,42,17,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes
...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No
397,7.41,162,26,12,368,159,Medium,40,18,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes

In [13]:
dataset.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
dtype: int64

In [14]:
dataset['Sales'][0]=None 
dataset

<ipython-input-14-dfee8c248362>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Sales'][0]=None

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban
0,NaN,138,73,11,276,120,Bad,42,17,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes
...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No
397,7.41,162,26,12,368,159,Medium,40,18,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes

In [15]:
mean=dataset['Sales'].mean()
dataset['Sales'].fillna(value=mean,inplace=True)
dataset

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban
0,7.491303,138,73,11,276,120,Bad,42,17,Yes
1,11.220000,111,48,16,260,83,Good,65,10,Yes
2,10.060000,113,35,10,269,80,Medium,59,12,Yes
3,7.400000,117,100,4,466,97,Medium,55,14,Yes
4,4.150000,141,64,3,340,128,Bad,38,13,Yes
...,...,...,...,...,...,...,...,...,...,...
395,12.570000,138,108,17,203,128,Good,33,14,Yes
396,6.140000,139,23,3,37,120,Medium,55,11,No
397,7.410000,162,26,12,368,159,Medium,40,18,Yes
398,5.940000,100,79,7,284,95,Bad,50,12,Yes
399,9.710000,134,37,0,27,120,Good,49,16,Yes

In [16]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
dataset=dataset.drop(['ShelveLoc','Urban'],axis=1)
x=scalar.fit_transform(dataset)
x

array([[ 0.        ,  0.85045499,  0.15536099, ...,  0.17782345,
        -0.69978222,  1.18444912],
       [ 1.3227965 , -0.91248434, -0.73906037, ..., -1.38685375,
         0.72172284, -1.4901134 ],
       [ 0.91127364, -0.78189624, -1.20415947, ..., -1.51371947,
         0.35089544, -0.72595268],
       ...,
       [-0.02884323,  2.41751217, -1.52615116, ...,  1.82707779,
        -0.82339136,  1.56652948],
       [-0.55034203, -1.63071888,  0.37002211, ..., -0.87939087,
        -0.20534568, -0.72595268],
       [ 0.78710726,  0.58927879, -1.13260576, ...,  0.17782345,
        -0.26715025,  0.80236876]])